.field {
  margin-top: 1em;
}

.field-title {
  font-weight: bold;
}

.form-title:before {
  content: ' # ';
}

.form-title:after {
  content: ' # ';
}

.required {
  color: red;
  margin-left: 0.2rem;
}

.description {
  color: grey;
  font-style: italic;
  font-size: 0.8em;
}

.error {
  color: red;
  font-style: italic;
  font-size: 0.8em;
}
